body,
h1,
h2,
h3,
p,
div,
ul,
li {
    margin: 0px;
    padding: 0px;
}

form {
    border: 3px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.Regbtn {
    float: right;
    margin-left: 10px;
    width: auto;
    padding: 10px 18px;
}

.Logbtn {
    float: right;
    margin-left: 10px;
    width: auto;
    padding: 10px 18px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

ul.horizontal {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

div.left,
div.right {
    display: flex;
}

ul.horizontal li a.active {
    background-color: #04aa6d;
}
ul.horizontal li a {
    height: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 0.8em 0.7em;
    text-decoration: none;
}
ul.horizontal:last-child() {
    justify-self: right;
}

div.table {
    font-size: 1.5em;
    padding: 0.5em 0.2em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

hr.rounded {
    width: 100%;
    border-top: 0.5em solid #e4e4e4;
    border-radius: 5px;
}

table#dataTable {
    border-spacing: 0.5em;
}

table#dataTable * {
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

table#dataTable td {
    background-color: #e4e4e4;
}
table#dataTable .alive {
    background-color: #04aa6d;
}

table#dataTable .dead {
    background-color: #f44336;
}

table#dataTable th {
    background-color: #d4d4d4;
}

div.target {
    display: flex;
    flex-direction: column;
    align-items: center;
}

strong.target-pretext {
    padding-top: 0.5rem;
    font-size: 2em;
}

div#targetName {
    font-size: 8em;
    padding: 2rem;
    padding-bottom: 3rem;
}

button#killbutton {
    width: 30%;
    font-size: 1.5em;
    height: 4em;
    border-radius: 1em;
}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.about-mark,
.about-marci {
    max-width: 75vw;
    border: solid;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 0.5rem; */
    padding: 2em;
    > * {
        margin: 0.5em;
    }
}

img.about-image {
    height: 25vh;
    width: auto;
}

p.about-devs,
p.header {
    margin: 2rem;
    font-size: 3em;
    text-align: center;
}

div.description {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    > p.description {
        border: solid;
        border-radius: 1em;
        padding: 1em;
    }
}

.game-card {
    border: solid;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ongoing-games,
.joinable-games {
    display: flex;
    gap: 1em;
    padding: 1em;
    justify-content: center;
    > * {
        flex: 1;
    }
}

button.leave {
    background-color: #f44336;
}

.games-header {
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}

.profile {
    max-height: 60vh;
    margin: 5em 2em;
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
    align-items: center;
}

.player {
    flex: 3 1 auto;
}

.profile-name {
    text-align: center;
    font-size: 3em;
    margin-bottom: 4rem;
}

img.profile-picture {
    flex: 1 1 auto;
    border: solid;
    padding: 0.5em;
    border-radius: 1em;
}

.player-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}
